---
---

@import "bootstrap";

body {
  padding-top: 70px;
  position: relative;
}

.bg-section {
  background-color: #eee;
  border-color: #090909;
  color: #222;
  padding-left:0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.3em;
}

.schedule-header {
  font-weight: bold;
}
